* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: #ebf3fa;
    font-size: 16px;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-border {
    background: linear-gradient(to right, #2383ae, #6dd7b9);
    width: 100%;
    height: 10px;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dee0df;
    background-color: #fff;

    .logo {
        height: 100%;
    }

    .search {
        flex: 1;
        padding: 0 15px;
        display: flex;

        input {
            height: 100%;
            border: none;
            display: inline-block;
            flex: 1;
            outline: 0;
        }
    }

    .user {
        padding: 0 15px;
        align-self: center;
    }
}

main {
    display: flex;
    padding: 20px 40px;
    flex: 1;
    overflow-y: scroll;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    flex: 1;
}

.sidebar {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
}